node_modules

# Output
.output
.vercel
/.svelte-kit
/build
/docs/_site

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.dev.vars
tmp/

# inlang generated artifacts
project.inlang/cache/
project.inlang/project_id
