*,
*::before,
*::after {
	box-sizing: border-box;
}

@font-face {
	src: url('/fonts/firava.woff2') format('woff2-variations');
	font-display: swap;
	font-family: 'firava';
	font-weight: 100 900;
}
@font-face {
	src: url('/fonts/firava-italic.woff2') format('woff2-variations');
	font-display: swap;
	font-family: 'firava';
	font-style: italic;
	font-weight: 100 900;
}

html,
body {
	min-height: 100%;
}

html {
	line-height: 1.5;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	font-family: var(--sans-serif);
	scroll-behavior: smooth;
	color-scheme: light dark;
	interpolate-size: allow-keywords;

	/* ios text */
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%; /* ios? */

	background: var(--gray-1);
	color: var(--gray-12);
}

html {
	font-size: calc(15px * var(--scaling));
}

body {
	/* font-size: var(--font-4); */
	margin: 0;
	cursor: default;
	overflow: hidden;
	scrollbar-gutter: stable;
}

* {
	/* scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg); */
	scrollbar-color: var(--gray-7) var(--gray-1);
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
	margin: 0;
}

h1 {
	font-size: var(--font-5);
	font-weight: 600;
}

h2 {
	font-size: var(--font-5);
	font-weight: 600;
}

h3 {
	font-size: var(--font-5);
	font-weight: 400;
}

[caps] {
	text-transform: uppercase;
	font-size: var(--font-2);
	font-weight: 400;
	font-family: var(--monospace);
	letter-spacing: 0.03em;
}

p {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

a {
	text-decoration-skip-ink: auto;
	hyphens: auto;
}

a:link,
a:visited {
	color: var(--gray-12);
	/* color: var(--accent-9); */
}

hr {
	display: block;
	border: 0;
	height: 1px;
	background: var(--gray-5);
}

small {
	font-size: var(--font-3);
	color: var(--gray-10);
}

ul,
figure {
	margin: 0;
}

.error {
	color: var(--color-error);
}

.warning {
	color: var(--color-warning);
}

.success {
	color: var(--accent-9);
}
