*,
*::before,
*::after {
	box-sizing: border-box;
}

@font-face {
	src: url('/fonts/firava.woff2') format('woff2-variations');
	font-display: swap;
	font-family: 'firava';
	font-weight: 100 900;
}
@font-face {
	src: url('/fonts/firava-italic.woff2') format('woff2-variations');
	font-display: swap;
	font-family: 'firava';
	font-style: italic;
	font-weight: 100 900;
}

html,
body {
	min-height: 100%;
}

html {
	line-height: 1.5;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%; /* ios? */
	font-family: firava, system-ui, sans-serif;
	scroll-behavior: smooth;
	color-scheme: light dark;
	interpolate-size: allow-keywords;

	background: var(--gray-1);
	color: var(--gray-12);
}

html {
	font-size: calc(16px * var(--scaling));
	/* font-size: 15px; */
	/* font-size: calc(clamp(1em, 0.5em + 1vw, 2em)); */
}

body {
	/* font-size: var(--font-4); */
	margin: 0;
	cursor: default;
	overflow: hidden;
}

::selection {
	background: var(--color-accent);
}

.scroll {
	overflow-y: auto;
	max-height: 100dvh;
	overscroll-behavior: contain;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
	/*scrollbar-color: var(--white) var(--black);*/
}

@media (prefers-reduced-motion: reduce) {
	:root {
		scroll-behavior: auto;
	}
}

h1 {
	font-size: var(--font-5);
	font-weight: 600;
	margin: 0;
}

h2 {
	font-size: var(--font-5);
	font-weight: 600;
	margin: 0;
}

h3 {
	font-size: var(--font-5);
	font-weight: 400;
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

a {
	text-decoration-skip-ink: auto;
}
a {
	hyphens: auto;
}
a:link,
a:visited {
	color: var(--gray-12);
}

hr {
	display: block;
	border: 0;
	height: 1px;
	background: var(--gray-3);
}

small {
	font-size: var(--font-3);
	color: var(--gray-8);
}

ul,
figure {
	margin: 0;
}

.grid,
.list {
	padding: 0;
	list-style: none;
}
.list > li,
.list > div {
	border-bottom: 1px solid var(--gray-4);
}
.list > div:hover,
.list > li:hover {
	background: light-dark(var(--gray-2), var(--gray-3));
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	margin: 0.5rem;
	gap: 1rem;
	padding: 0;
}

r4-sign-in,
r4-sign-out,
r4-track-create {
	form,
	fieldset {
		display: flex;
		flex-flow: column;
	}
	form {
		gap: 0.5rem;
	}
	fieldset {
		margin: 0;
		border: 0;
		padding: 0;
		gap: 0.2rem;

		&[hidden] {
			display: none;
		}
	}
}

menu {
	display: flex;
	gap: 0.2rem;
	margin: 0;
	padding: 0;
}
