select,
button,
.btn {
	position: relative;

	display: inline-flex;
	vertical-align: top;
	align-items: center;
	justify-content: center;
	min-width: 1.75rem;
	min-height: 2rem;
	padding: 0 0.5rem;

	flex-shrink: 0;
	white-space: nowrap;
	user-select: none;

	font-size: var(--font-4);
	font-weight: 400;
	line-height: normal;

	background: var(--gray-1);
	color: var(--gray-12);
	border: 1px solid var(--gray-6);
	border-color: light-dark(var(--accent-11), var(-accent-8)); /* maybe */
	border-radius: var(--border-radius);
	box-shadow:
		lch(0 0 0 / 0.06) 0px 4px 4px -1px,
		lch(0 0 0 / 0.12) 0px 1px 1px 0px;

	transition-property: border, background-color, color, opacity;
	transition-duration: 100ms;
}

button:focus,
button:hover,
.btn:focus,
.btn:hover {
	border-color: var(--color-accent);
}

select:active,
button:focus,
.btn:focus {
	outline: 2px solid var(--color-accent);
	outline-offset: -2px;
}

select:focus,
button:disabled,
.btn:disabled {
	background: var(--gray-1);

	:global(.icon) {
		opacity: 0.2;
	}
}

a.active {
	color: var(--color-accent);
}

button.active,
.btn.active {
	border-color: var(--color-accent);
	background-color: light-dark(var(--accent-8), var(--accent-12));
}

.IconBtn {
	border: 0;
	background: none;
	padding: 0;
}

button[data-loading='true'] {
	cursor: wait;
}

/* bit bigger */
button[type='submit'] {
	padding-left: 1rem;
	padding-right: 1rem;
}

a.btn {
	text-decoration: none;
}

button.danger,
.btn.danger {
	background: var(--color-red);
	color: white;
	border-color: var(--color-red);
}

button.danger:hover,
button.danger:focus,
.btn.danger:hover,
.btn.danger:focus {
	background: color-mix(in lab, var(--color-red), black 10%);
	border-color: color-mix(in lab, var(--color-red), black 10%);
}

button.primary,
.button.primary {
	border-color: var(--color-accent);

	&:hover {
		background: color-mix(in lab, var(--color-accent), black 70%);
	}
}
