input,
button,
textarea,
select {
	font: inherit;
}

select,
textarea,
input[type='email'],
input[type='search'],
input[type='password'],
input[type='number'],
input[type='text'],
input[type='url'] {
	font-size: var(--font-4);
}

textarea,
input[type='email'],
input[type='search'],
input[type='password'],
input[type='number'],
input[type='text'],
input[type='url'] {
	min-height: 2rem;
	padding: 0 0.5rem;
	background: var(--gray-1);
	color: var(--gray-12);
	border-radius: var(--border-radius);
	/* border: 0.1rem solid var(--gray-6); */
	border: 0;
	line-height: 1;
	/* box-shadow: inset 2px 2px var(--gray-5); */
	/* box-shadow: */
	/* 	inset 0 0 0 1px var(--gray-6), */
	/* 	inset 0 1.5px 2px 0 var(--gray-1), */
	/* 	inset 0 1.5px 2px 0 var(--gray-10); */

	box-shadow:
		inset 0 0 0 1px var(--gray-6),
		inset 0 1.5px 2px 0 var(--gray-1),
		inset 0 1.5px 2px 0 var(--gray-6);

	&:active,
	&:focus {
		outline: 2px solid var(--accent-9);
		outline-offset: -2px;
	}
}

input[type='checkbox'] {
	accent-color: var(--accent-9);
}

textarea {
	min-height: 4rem;
	line-height: inherit;
}

r4-sign-up,
r4-password-reset,
r4-password-update,
r4-sign-in,
r4-sign-out,
r4-channel-create,
r4-track-create {
	form,
	fieldset {
		display: flex;
		flex-flow: column;
	}
	form {
		gap: 0.5rem;
	}
	fieldset {
		margin: 0;
		border: 0;
		padding: 0;
		gap: 0.2rem;

		&[hidden] {
			display: none;
		}
	}
}
