/* Use on pages that are text heavy, like settings */
.SmallContainer {
	max-width: 80ch;
	margin-left: auto;
	margin-right: auto;
}

/* Use on containers that need scrolling */
.scroll {
	overflow-y: auto;
	max-height: 100dvh;
	overscroll-behavior: contain;
	scrollbar-width: thin;
}

.list {
	padding: 0;
	list-style: none;

	> li,
	> div {
		border-bottom: 1px solid var(--gray-4);

		&:hover {
			background: light-dark(var(--gray-2), var(--gray-2));
		}
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	margin: 0.5rem;
	gap: 2rem 1rem;
	padding: 0;
	list-style: none;
}
