/* Use on pages that are text heavy, like settings */
.SmallContainer {
	width: 100%;
	max-width: 80ch;
	margin: 0.5rem auto;
	padding: 0 0.5rem;
}

/* Usually around forms */
.MiniContainer {
	width: 100%;
	max-width: 45ch;
	margin: 0.5rem auto;
	padding: 0 0.5rem;
}

/* Use on containers that need scrolling */
.scroll {
	overflow-y: auto;
	max-height: 100dvh;
	overscroll-behavior: contain;
	scrollbar-width: thin;
}

.list {
	padding: 0;
	list-style: none;

	> li,
	> div {
		border-bottom: 1px solid var(--gray-4);

		&:hover {
			background: light-dark(var(--gray-2), var(--gray-2));
		}
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(clamp(150px, 20vw, 280px), 1fr));
	margin: 0.5rem;
	gap: 2rem 1rem;
	padding: 0;
	list-style: none;
}

.row {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5rem;
}

.row--vcenter {
	place-items: center;
}

menu {
	display: flex;
	gap: 0.2rem;
	margin: 0;
	padding: 0;

	hr {
		margin: auto 0.4em;
		width: 1px;
		height: 1em;
		background: var(--gray-6);
	}

	&.row {
		gap: 0.2rem;
	}

	a,
	button {
		cursor: default;
	}
}

menu[vertical] {
	flex-flow: column;
	border: 1px solid var(--gray-6);
	border-radius: var(--border-radius);
	gap: 0;

	a {
		padding: 0.5rem;
		text-decoration: none;
		&:hover {
			background: light-dark(var(--gray-2), var(--gray-2));
		}
	}

	a:not(:last-child) {
		border-bottom: 1px solid var(--gray-4);
	}
}

dl.meta {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 0 1rem;

	dt {
		color: var(--gray-10);
	}

	dd {
		margin: 0;
	}

	a {
		color: var(--accent-9);
	}

	img {
		max-width: 150px;
		height: auto;
		border-radius: var(--border-radius);
	}
}

.color-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
	gap: 0.2rem;
	margin: 0.5rem;

	figure {
		height: 4rem;
	}

	code {
		font-size: var(--font-3);
		font-family: inherit;
		padding: 0.2rem;
	}
}

.color-swatch {
	border: 1px solid var(--gray-4);
	border-radius: var(--border-radius);
	overflow: hidden;
	background: var(--gray-2);
}
