/* Use on pages that are text heavy, like settings */
.SmallContainer {
	width: 100%;
	max-width: 80ch;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0.5rem;
}

.row {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5rem;
}

/* Use on containers that need scrolling */
.scroll {
	overflow-y: auto;
	max-height: 100dvh;
	overscroll-behavior: contain;
	scrollbar-width: thin;
}

.list {
	padding: 0;
	list-style: none;

	> li,
	> div {
		border-bottom: 1px solid var(--gray-4);

		&:hover {
			background: light-dark(var(--gray-2), var(--gray-2));
		}
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)); /* < 180 ensures two cols on most mobile */
	margin: 0.5rem;
	gap: 2rem 1rem;
	padding: 0;
	list-style: none;
}

.color-row {
	display: flex;
	gap: 1rem;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.color-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
	gap: 0.2rem;
	margin-bottom: 1rem;

	figure {
		height: 4rem;
	}

	code {
		font-size: var(--font-3);
		font-family: inherit;
		padding: 0.2rem;
	}
}

.color-swatch {
	border: 1px solid var(--gray-4);
	border-radius: var(--border-radius);
	overflow: hidden;
	background: var(--gray-2);
}
