:root {
	/* Default base colors for generating a color scale */
	--gray-light: oklch(0.67 0.01 0);
	--accent-light: oklch(0.5 0.25 290);
	--gray-dark: oklch(0.67 0.01 0);
	--accent-dark: lch(86 48 124);

	/* --button-bg: var(--gray-1); */
	/* --button-color: var(--gray-12); */
	--color-red: hsl(11, 78%, 38%);
}
