:root {
	/* Default base colors for generating a color scale */
	--gray-light: oklch(0.67 0.01 0);
	--accent-light: oklch(0.5 0.25 290);
	--gray-dark: oklch(0.67 0.01 0);
	--accent-dark: lch(86 48 124);

	--color-red: hsl(11, 78%, 38%);
	--color-error: var(--color-red, red); /* r4-components var */
}
