:root {
	/* Default base colors for generating a color scale */
	--gray-light: oklch(0.67 0.01 0);

	--accent-light: oklch(0.5 0.25 290);
	--gray-dark: oklch(0.67 0.01 0);
	--accent-dark: #b8e68a;

	--button-bg: var(--gray-1);
	--button-color: var(--gray-12);

	/*--color-acidgreen: #b8e68a;
	--color-blue2: #7a8db3;
	--color-deeppurple: hsl(295, 22%, 12%);
	--color-green2: #99ad6a;
	--color-green: hsl(120, 21%, 52%);
	--color-lavender: hsl(257, 62%, 82%);
	--color-light-blue: #8fbfdc;
	--color-light-gray: #e8e8d3;
	--color-orange: #ffb964;
	--color-pink2: #f0a0c0;
	--color-purple2: #6f43c5;
	--color-purple: #5d1ae6;
	--color-red2: #cf6a4c;
	--color-red: hsl(11, 78%, 38%);
	--color-slate: #668799;
	--color-tan: #c59f6f;
	--color-yellow2: #eec674;
	--color-yellow: hsl(33, 82%, 58%);*/
}
