:root {
	/* layout */
	--scaling: 1;
	--space-1: calc(0.2rem * var(--scaling));
	--space-2: calc(0.5rem * var(--scaling));
	--space-3: calc(1rem * var(--scaling));
	--border-radius: 0.4rem;
	--media-radius: 0;

	/* typography */
	--sans-serif: firava, system-ui, sans-serif;
	--monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
	--font-1: 0.6875rem;
	--font-2: 0.75rem;
	--font-3: 0.8125rem;
	--font-4: 0.9375rem;
	--font-5: 1rem;
	--font-6: 1.125rem;
	--font-7: 1.25rem;
	--font-8: 1.5rem;
	--font-9: 2.25rem;

	/* and you can control the background of each panel individually as well */
	--header-bg: var(--gray-1);
	--aside-bg: var(--gray-1);
	--footer-bg: var(--gray-1);

	/* breakpoints */
	--breakpoint-xs: 520px;
	--breakpoint-sm: 768px;
	--breakpoint-md: 1024px;
	--breakpoint-lg: 1280px;
	--breakpoint-xl: 1640px;

	/* For layout think in boxes, flex (rows), grid, section (vertical spacing) and containers (max width) */
	--player-compact-size: 8rem;
}

:root.light {
	color-scheme: light;
}

:root.dark {
	color-scheme: dark;
}
