:root {
	/* --color-green: #799d6a; */
	--color-green: hsl(120, 21%, 52%);
	/* --color-lavender: #c6b6ee; */
	--color-lavender: hsl(257, 62%, 82%);
	--color-light-blue: #8fbfdc;
	--color-light-gray: #e8e8d3;
	--color-orange: #ffb964;
	--color-purple: hsl(259.7, 80.3%, 50.2%);
	--color-red: hsl(11, 78%, 38%);
	--color-slate: #668799;
	--color-tan: #c59f6f;
	--color-yellow: hsl(33, 82%, 58%);
	--color-acidgreen: #b8e68a;
	--color-deeppurple: hsl(295, 22%, 12%);

	--scaling: 1;

	--space-1: calc(0.2rem * var(--scaling));
	--space-2: calc(0.5rem * var(--scaling));
	--space-3: calc(1rem * var(--scaling));

	--font-1: 0.6875rem;
	--font-2: 0.75rem;
	--font-3: 0.8125rem;
	--font-4: 0.9375rem;
	--font-5: 1rem;
	--font-6: 1.125rem;
	--font-7: 1.25rem;
	--font-8: 1.5rem;
	--font-9: 2.25rem;

	--border-radius: 0.4rem;

	--gray-1: light-dark(lch(97.5% 0 282), lch(7% 1.867 272));
	--gray-2: light-dark(lch(94% 2 282), lch(10% 3.033 272));
	--gray-3: light-dark(lch(92% 2 282), lch(14% 4.2 272));
	--gray-4: light-dark(lch(89% 0 282), lch(19% 3.54 272));
	--gray-5: light-dark(lch(85% 0 282), lch(25% 3.54 272));
	--gray-6: light-dark(lch(75% 1 282), lch(35% 1.35 272));
	--gray-7: light-dark(lch(65% 1 282), lch(45% 1.35 272));
	--gray-8: light-dark(lch(55% 1 282), lch(55% 1.35 272));
	--gray-9: light-dark(lch(45% 1 282), lch(65% 1.35 272));
	--gray-10: light-dark(lch(35% 1 282), lch(75% 1.35 272));
	--gray-11: light-dark(lch(20% 1 282), lch(90% 1.35 272));
	--gray-12: light-dark(lch(10% 0 282), lch(95% 0 272));

	/* --color-background: #fff; */
	/* --color-overlay: var(--black-a6); */
	/* --color-panel-solid: #fff; */
	/* --color-panel-translucent: #ffffffb3; */
	/* --color-surface: #ffffffd9; */
	/* --color-transparent: #0000; */

	--bg-1: var(--gray-1);
	--bg-2: light-dark(var(--gray-1), var(--gray-2));
	--bg-3: light-dark(var(--gray-2), var(--gray-3));

	/* accent system */
	--color-accent: light-dark(var(--color-purple), hsl(259.7, 98%, 61%));

	/* light-dark(var(--color-purple), var(--color-deeppurple)); */
	--accent-1: color-mix(in lab, white, var(--color-accent) 95%);
	--accent-2: color-mix(in lab, white, var(--color-accent) 90%);
	--accent-3: color-mix(in lab, white, var(--color-accent) 85%);
	--accent-4: color-mix(in lab, white, var(--color-accent) 75%);
	--accent-5: color-mix(in lab, white, var(--color-accent) 65%);
	--accent-6: color-mix(in lab, white, var(--color-accent) 50%);
	--accent-7: color-mix(in lab, white, var(--color-accent) 35%);
	--accent-8: color-mix(in lab, white, var(--color-accent) 20%);
	--accent-9: var(--color-accent);
	--accent-10: color-mix(in lab, black, var(--color-accent) 15%);
	--accent-11: color-mix(in lab, black, var(--color-accent) 30%);
	--accent-12: color-mix(in lab, black, var(--color-accent) 50%);

	/* breakpoints */
	--breakpoint-xs: 520px;
	--breakpoint-sm: 768px;
	--breakpoint-md: 1024px;
	--breakpoint-lg: 1280px;
	--breakpoint-xl: 1640px;

	/* Forlayout think in boxes, flex (rows), grid, section (vertical spacing) and containers (max width) */
}

:root.light {
	color-scheme: light;
}

:root.dark {
	color-scheme: dark;
}
