---
pagination:
  data: collections.all
  size: 1000
  alias: pages
permalink: /llms.txt
layout: false
---
{% for page in pages %}{% if page.inputPath.endsWith('.md') %}{% if page.inputPath.includes('index.md') %}
# {{ page.data.title or page.fileSlug }}

{{ page.rawInput | safe }}

---

{% endif %}{% endif %}{% endfor %}
{% for page in pages %}{% if page.inputPath.endsWith('.md') and not page.inputPath.includes('index.md') %}
# {{ page.data.title or page.fileSlug }}

{{ page.rawInput | safe }}

---

{% endif %}{% endfor %}